<?xml version="1.0"?>
<launch>
	<!-- Run turtlesim -->
	<node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" />
	
	<!-- Run teleop control -->
	<node pkg="turtlesim" type="turtle_teleop_key" name="teleop" />

	<!-- Run node turtle control -->
	<!-- what node do you want to run? uncomment that line -->
	<node pkg="ros_turtle_control" type="move_to_goal" name="move_to_goal" output="screen" />
	<!-- <node pkg="ros_turtle_control" type="multi_checkpoint" name="multi_checkpoint" args="2 0 5 4 3 0 1 5 9 6 10 3" output="screen" /> -->
    <!-- <node pkg="ros_turtle_control" type="multi_turtle" name="multi_turtle" args="3 2 10 10 0 9 6 4 5 5 11 2 9 0 5 3 0" output="screen" /> -->
    
</launch>
